<!-- src\main\resources\templates\layout\base.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>

<!-- 메인 컨텐츠 -->
<main>
	<div class="sidebar-left" th:if="${leftSidebarVisible ?: false}"
	     th:replace="fragments/left-sidebar :: left-sidebar"></div>
	<div class="content" th:include="${content}"></div>
	<div class="sidebar-right" th:if="${rightSidebarVisible ?: false}"
	     th:replace="fragments/right-sidebar :: right-sidebar"></div>
</main>

<!-- footer.html -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>