<!-- src\main\resources\templates\layout\base.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>DevQuest</title>
</head>

<body>
<!-- header.html -->
<header th:replace="fragments/header :: header"></header>

<!-- 메인 컨텐츠 -->
<main>
	<main>
		<div class="sidebar-left" th:if="${leftSidebarVisible}"
		     th:replace="fragments/left-sidebar :: left-sidebar"></div>
		<div class="content" th:replace="${pageContent}"></div>
		<div class="sidebar-right" th:if="${rightSidebarVisible}"
		     th:replace="fragments/right-sidebar :: right-sidebar"></div>
	</main>
	
	<!-- footer.html -->
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>