<!-- src\main\resources\templates\layout\base.html -->
<!DOCTYPE html th:fragment="base">
<html lang="ko">
<!-- Head 태그 -->

<head th:replace="~{fragments/header :: header-head}"></head>

<body>
	<!-- 상단 메뉴 -->
	<header th:replace="~{fragments/header :: header}"></header>
	<!-- 메인 콘텐츠 영역 -->
	<main class="main-content">
		<!-- <aside class="sidebar-left" th:if="${leftSidebarVisible ?: false}" 
			th:replace="~{fragments/left-sidebar :: left-sidebar}"></aside> -->
		<aside class="sidebar-left" th:replace="~{fragments/left-sidebar :: left-sidebar}"></aside>
		<section class="content" th:include="${content}">
			<div>베이스 페이지</div>
		</section>
		<!-- <aside class="sidebar-right" th:if="${#authentication.principal != null}"
			th:replace="~{fragments/right-sidebar :: right-sidebar}"></aside> -->
		<aside class="sidebar-right" th:replace="~{fragments/right-sidebar :: right-sidebar}"></aside>
	</main>
	<!-- 하단 메뉴 -->
	<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>