/* src\main\resources\static\css\user\signup.css */

main {
    margin-top: 30px;
}

.input-group-text {
    display: inline-block;
    margin-left: 10px;
    padding: 0;
    background: none;
    border: none;
}

.feedback-icon {
    width: 24px;
    height: 24px;
    display: none;
}

.position-relative {
    position: relative;
}