<!-- src/main/resources/templates/user/signup.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Head 태그 -->

<head>
    <div th:replace="~{fragments/header :: header-head}"></div>
</head>

<body>
    <!-- 상단 메뉴 -->
    <header th:replace="~{fragments/header :: header}"></header>

    <!-- 메인 콘텐츠 영역 -->
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <script defer th:src="@{/js/user/signup.js}"></script>
    <main class="container mt-5">
        <section>
            <h2 class="mb-4">회원가입</h2>
            <form id="signupForm">
                <div class="mb-3">
                    <label class="form-label" for="username">아이디</label>
                    <div class="input-group">
                        <input class="form-control custom-width" id="username" placeholder="아이디를 입력하세요" required
                            type="text">
                        <button class="btn btn-secondary" type="button" id="check-username">ID 중복검사</button>
                    </div>
                    <small class="form-text text-muted">6자리 이상의 알파벳 또는 알파벳과 숫자</small>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">암호</label>
                    <input class="form-control custom-width" id="password" placeholder="암호를 입력하세요" required
                        type="password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirmPassword">암호 재입력</label>
                    <input class="form-control custom-width" id="confirmPassword" placeholder="암호를 다시 입력하세요" required
                        type="password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pin">개인식별번호 (숫자 6자리)</label>
                    <input class="form-control custom-width" id="pin" pattern="\d{6}" placeholder="개인식별번호를 입력하세요"
                        required type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nickname">닉네임</label>
                    <input class="form-control custom-width" id="nickname" placeholder="닉네임을 입력하세요" required
                        type="text">
                </div>
                <button class="btn btn-primary" type="submit">가입하기</button>
            </form>
        </section>
    </main>

    <!-- 하단 메뉴 -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>