<!-- src\main\resources\templates\fragments\header.html -->
<!-- 프래그먼트 파일이므로, <!DOCTYPE html>, <html> 같은 태그는 필요하지 않음 -->
<!-- 프래그먼트는 메인 템플릿에 포함될 부분이기 때문에 이런 태그들을 제거 -->
<header class="py-3 mb-4 border-bottom" th:fragment="header">
	<div class="container d-flex flex-wrap justify-content-center">
		<a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none"
		   th:href="@{/}">
			<span class="fs-4">DevQuest</span>
		</a>
		<nav>
			<ul class="nav nav-pills">
				<li class="nav-item"><a class="nav-link" th:href="@{/company}">기업</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/job}">채용</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/resume}">셀프구직</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/team}">팀빌딩</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/quest}">퀘스트</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/webinar}">웨비나</a></li>
				<li class="nav-item" th:if="${user == null}">
					<a class="nav-link" th:href="@{/user/register}">회원가입</a>
				</li>
				<li class="nav-item" th:if="${user != null}">
					<a class="nav-link" th:href="@{/user/profile}">프로필</a>
				</li>
				<li class="nav-item" th:if="${user == null}">
					<a class="nav-link" th:href="@{/user/login}">로그인</a>
				</li>
				<li class="nav-item" th:if="${user != null}">
					<a class="nav-link" th:href="@{/user/logout}">로그아웃</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
