<!-- src\main\resources\templates\fragments\right-sidebar.html -->
<aside th:fragment="right-sidebar" class="col-md-1 d-none d-md-block bg-light sidebar-right">
	<!-- 오른쪽 사이드바 (리모컨) -->
	<!-- 특정 페이지에서 사이드바를 표시하고 싶다면, 컨트롤러에서 아래와 같이 설정 -->
	<!-- model.addAttribute("rightSidebarVisible", true); -->
	<div class="position-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="#" title="알림">
					<i class="bi bi-bell"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" title="즐겨찾기">
					<i class="bi bi-star"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" title="임시화면잠금">
					<i class="bi bi-lock"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" title="내글목록보기">
					<i class="bi bi-file-text"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" title="글쓰기">
					<i class="bi bi-pencil-square"></i>
				</a>
			</li>
		</ul>
	</div>
</aside>