
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 2%; /* 상하좌우 여백 */
}

.sidebar-left {
    border: 1px solid black;
    width: 20%;
    margin-right: 2%;
    background-color: #e1e1e1;
    padding: 10px;
    box-sizing: border-box;
}

.content {
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
}