/* devquest\src\main\resources\static\css\header.css */

header {
    display: flex;
}

.nav-menu>ul {
    display: flex;
}

.logo {
    font-family: 'SDSamliphopangche_Outline';
}

.nav-menu>*,
.header-controls>* {
    font-family: 'LINESeedKR-Bd';
}